UI/GUI/Connected Services/ThuocService/Entity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfeThuoc">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="eThuoc" nillable="true" type="tns:eThuoc" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfeThuoc" nillable="true" type="tns:ArrayOfeThuoc" />
  <xs:complexType name="eThuoc">
    <xs:sequence>
      <xs:element minOccurs="0" name="donGia" type="xs:double" />
      <xs:element minOccurs="0" name="donVi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idThuoc" type="xs:int" />
      <xs:element minOccurs="0" name="moTa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tenThuoc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="eThuoc" nillable="true" type="tns:eThuoc" />
</xs:schema>