UI/GUI/Connected Services/ThuocService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Entity" />
  <xs:element name="GetThuocs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThuocsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="GetThuocsResult" nillable="true" type="q1:ArrayOfeThuoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddThuoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="kh" nillable="true" type="q2:eThuoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddThuocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddThuocResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getThuocbyID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getThuocbyIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="getThuocbyIDResult" nillable="true" type="q3:eThuoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>