UI/GUI/Connected Services/ThuocService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ThuocWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IThuocWCF_GetThuocs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetThuocs" />
  </wsdl:message>
  <wsdl:message name="IThuocWCF_GetThuocs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetThuocsResponse" />
  </wsdl:message>
  <wsdl:message name="IThuocWCF_AddThuoc_InputMessage">
    <wsdl:part name="parameters" element="tns:AddThuoc" />
  </wsdl:message>
  <wsdl:message name="IThuocWCF_AddThuoc_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddThuocResponse" />
  </wsdl:message>
  <wsdl:message name="IThuocWCF_getThuocbyID_InputMessage">
    <wsdl:part name="parameters" element="tns:getThuocbyID" />
  </wsdl:message>
  <wsdl:message name="IThuocWCF_getThuocbyID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getThuocbyIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IThuocWCF">
    <wsdl:operation name="GetThuocs">
      <wsdl:input wsaw:Action="http://tempuri.org/IThuocWCF/GetThuocs" message="tns:IThuocWCF_GetThuocs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IThuocWCF/GetThuocsResponse" message="tns:IThuocWCF_GetThuocs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddThuoc">
      <wsdl:input wsaw:Action="http://tempuri.org/IThuocWCF/AddThuoc" message="tns:IThuocWCF_AddThuoc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IThuocWCF/AddThuocResponse" message="tns:IThuocWCF_AddThuoc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getThuocbyID">
      <wsdl:input wsaw:Action="http://tempuri.org/IThuocWCF/getThuocbyID" message="tns:IThuocWCF_getThuocbyID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IThuocWCF/getThuocbyIDResponse" message="tns:IThuocWCF_getThuocbyID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IThuocWCF" type="tns:IThuocWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetThuocs">
      <soap:operation soapAction="http://tempuri.org/IThuocWCF/GetThuocs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddThuoc">
      <soap:operation soapAction="http://tempuri.org/IThuocWCF/AddThuoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getThuocbyID">
      <soap:operation soapAction="http://tempuri.org/IThuocWCF/getThuocbyID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ThuocWCF">
    <wsdl:port name="BasicHttpBinding_IThuocWCF" binding="tns:BasicHttpBinding_IThuocWCF">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/QuanLyPhongNha_Wcf/ThuocWCF/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>