UI/GUI/Connected Services/KhachHangService/Entity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfeKhachHang">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="eKhachHang" nillable="true" type="tns:eKhachHang" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfeKhachHang" nillable="true" type="tns:ArrayOfeKhachHang" />
  <xs:complexType name="eKhachHang">
    <xs:sequence>
      <xs:element minOccurs="0" name="diaChi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gioiTinh" type="xs:boolean" />
      <xs:element minOccurs="0" name="idKH" type="xs:int" />
      <xs:element minOccurs="0" name="ngaySinh" type="xs:dateTime" />
      <xs:element minOccurs="0" name="soDienThoai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tenKH" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="eKhachHang" nillable="true" type="tns:eKhachHang" />
</xs:schema>