UI/GUI/Connected Services/KhachHangService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Entity" />
  <xs:element name="GetKhachHangs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKhachHangsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="GetKhachHangsResult" nillable="true" type="q1:ArrayOfeKhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddKhachHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="kh" nillable="true" type="q2:eKhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddKhachHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddKhachHangResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKhachHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="kh" nillable="true" type="q3:eKhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKhachHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateKhachHangResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemKH_theoTen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ten" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemKH_theoTenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="TimKiemKH_theoTenResult" nillable="true" type="q4:ArrayOfeKhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemKH_theosoDT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sodt" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemKH_theosoDTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="TimKiemKH_theosoDTResult" nillable="true" type="q5:ArrayOfeKhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemKH_theosoDT_equals">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sodt" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemKH_theosoDT_equalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="TimKiemKH_theosoDT_equalsResult" nillable="true" type="q6:eKhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKhachHangs_byID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKhachHangs_byIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="GetKhachHangs_byIDResult" nillable="true" type="q7:eKhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_getIDKhachHang_Cuoi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="obj" nillable="true" type="q8:eKhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="add_getIDKhachHang_CuoiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="add_getIDKhachHang_CuoiResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>