UI/GUI/Connected Services/KhachHangService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KhachHangWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKhachHangWCF_GetKhachHangs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKhachHangs" />
  </wsdl:message>
  <wsdl:message name="IKhachHangWCF_GetKhachHangs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKhachHangsResponse" />
  </wsdl:message>
  <wsdl:message name="IKhachHangWCF_AddKhachHang_InputMessage">
    <wsdl:part name="parameters" element="tns:AddKhachHang" />
  </wsdl:message>
  <wsdl:message name="IKhachHangWCF_AddKhachHang_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddKhachHangResponse" />
  </wsdl:message>
  <wsdl:message name="IKhachHangWCF_UpdateKhachHang_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateKhachHang" />
  </wsdl:message>
  <wsdl:message name="IKhachHangWCF_UpdateKhachHang_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateKhachHangResponse" />
  </wsdl:message>
  <wsdl:message name="IKhachHangWCF_TimKiemKH_theoTen_InputMessage">
    <wsdl:part name="parameters" element="tns:TimKiemKH_theoTen" />
  </wsdl:message>
  <wsdl:message name="IKhachHangWCF_TimKiemKH_theoTen_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimKiemKH_theoTenResponse" />
  </wsdl:message>
  <wsdl:message name="IKhachHangWCF_TimKiemKH_theosoDT_InputMessage">
    <wsdl:part name="parameters" element="tns:TimKiemKH_theosoDT" />
  </wsdl:message>
  <wsdl:message name="IKhachHangWCF_TimKiemKH_theosoDT_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimKiemKH_theosoDTResponse" />
  </wsdl:message>
  <wsdl:message name="IKhachHangWCF_TimKiemKH_theosoDT_equals_InputMessage">
    <wsdl:part name="parameters" element="tns:TimKiemKH_theosoDT_equals" />
  </wsdl:message>
  <wsdl:message name="IKhachHangWCF_TimKiemKH_theosoDT_equals_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimKiemKH_theosoDT_equalsResponse" />
  </wsdl:message>
  <wsdl:message name="IKhachHangWCF_GetKhachHangs_byID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKhachHangs_byID" />
  </wsdl:message>
  <wsdl:message name="IKhachHangWCF_GetKhachHangs_byID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKhachHangs_byIDResponse" />
  </wsdl:message>
  <wsdl:message name="IKhachHangWCF_add_getIDKhachHang_Cuoi_InputMessage">
    <wsdl:part name="parameters" element="tns:add_getIDKhachHang_Cuoi" />
  </wsdl:message>
  <wsdl:message name="IKhachHangWCF_add_getIDKhachHang_Cuoi_OutputMessage">
    <wsdl:part name="parameters" element="tns:add_getIDKhachHang_CuoiResponse" />
  </wsdl:message>
  <wsdl:portType name="IKhachHangWCF">
    <wsdl:operation name="GetKhachHangs">
      <wsdl:input wsaw:Action="http://tempuri.org/IKhachHangWCF/GetKhachHangs" message="tns:IKhachHangWCF_GetKhachHangs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKhachHangWCF/GetKhachHangsResponse" message="tns:IKhachHangWCF_GetKhachHangs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddKhachHang">
      <wsdl:input wsaw:Action="http://tempuri.org/IKhachHangWCF/AddKhachHang" message="tns:IKhachHangWCF_AddKhachHang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKhachHangWCF/AddKhachHangResponse" message="tns:IKhachHangWCF_AddKhachHang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateKhachHang">
      <wsdl:input wsaw:Action="http://tempuri.org/IKhachHangWCF/UpdateKhachHang" message="tns:IKhachHangWCF_UpdateKhachHang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKhachHangWCF/UpdateKhachHangResponse" message="tns:IKhachHangWCF_UpdateKhachHang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimKiemKH_theoTen">
      <wsdl:input wsaw:Action="http://tempuri.org/IKhachHangWCF/TimKiemKH_theoTen" message="tns:IKhachHangWCF_TimKiemKH_theoTen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKhachHangWCF/TimKiemKH_theoTenResponse" message="tns:IKhachHangWCF_TimKiemKH_theoTen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimKiemKH_theosoDT">
      <wsdl:input wsaw:Action="http://tempuri.org/IKhachHangWCF/TimKiemKH_theosoDT" message="tns:IKhachHangWCF_TimKiemKH_theosoDT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKhachHangWCF/TimKiemKH_theosoDTResponse" message="tns:IKhachHangWCF_TimKiemKH_theosoDT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimKiemKH_theosoDT_equals">
      <wsdl:input wsaw:Action="http://tempuri.org/IKhachHangWCF/TimKiemKH_theosoDT_equals" message="tns:IKhachHangWCF_TimKiemKH_theosoDT_equals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKhachHangWCF/TimKiemKH_theosoDT_equalsResponse" message="tns:IKhachHangWCF_TimKiemKH_theosoDT_equals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKhachHangs_byID">
      <wsdl:input wsaw:Action="http://tempuri.org/IKhachHangWCF/GetKhachHangs_byID" message="tns:IKhachHangWCF_GetKhachHangs_byID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKhachHangWCF/GetKhachHangs_byIDResponse" message="tns:IKhachHangWCF_GetKhachHangs_byID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="add_getIDKhachHang_Cuoi">
      <wsdl:input wsaw:Action="http://tempuri.org/IKhachHangWCF/add_getIDKhachHang_Cuoi" message="tns:IKhachHangWCF_add_getIDKhachHang_Cuoi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKhachHangWCF/add_getIDKhachHang_CuoiResponse" message="tns:IKhachHangWCF_add_getIDKhachHang_Cuoi_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IKhachHangWCF" type="tns:IKhachHangWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetKhachHangs">
      <soap:operation soapAction="http://tempuri.org/IKhachHangWCF/GetKhachHangs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddKhachHang">
      <soap:operation soapAction="http://tempuri.org/IKhachHangWCF/AddKhachHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateKhachHang">
      <soap:operation soapAction="http://tempuri.org/IKhachHangWCF/UpdateKhachHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemKH_theoTen">
      <soap:operation soapAction="http://tempuri.org/IKhachHangWCF/TimKiemKH_theoTen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemKH_theosoDT">
      <soap:operation soapAction="http://tempuri.org/IKhachHangWCF/TimKiemKH_theosoDT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimKiemKH_theosoDT_equals">
      <soap:operation soapAction="http://tempuri.org/IKhachHangWCF/TimKiemKH_theosoDT_equals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKhachHangs_byID">
      <soap:operation soapAction="http://tempuri.org/IKhachHangWCF/GetKhachHangs_byID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add_getIDKhachHang_Cuoi">
      <soap:operation soapAction="http://tempuri.org/IKhachHangWCF/add_getIDKhachHang_Cuoi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KhachHangWCF">
    <wsdl:port name="BasicHttpBinding_IKhachHangWCF" binding="tns:BasicHttpBinding_IKhachHangWCF">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/QuanLyPhongNha_Wcf/KhachHangWCF/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>