UI/GUI/Connected Services/PhieuKhamService/Entity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfePhieuKham">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ePhieuKham" nillable="true" type="tns:ePhieuKham" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfePhieuKham" nillable="true" type="tns:ArrayOfePhieuKham" />
  <xs:complexType name="ePhieuKham">
    <xs:sequence>
      <xs:element minOccurs="0" name="idKH" type="xs:int" />
      <xs:element minOccurs="0" name="idNV" type="xs:int" />
      <xs:element minOccurs="0" name="idPhieuKham" type="xs:int" />
      <xs:element minOccurs="0" name="moTa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ngayDKKham" type="xs:dateTime" />
      <xs:element minOccurs="0" name="tinhTrang" type="xs:int" />
      <xs:element minOccurs="0" name="truyenMa" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ePhieuKham" nillable="true" type="tns:ePhieuKham" />
</xs:schema>