UI/GUI/Connected Services/PhieuKhamService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Entity" />
  <xs:element name="getPhieuKham_theoNgay">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPhieuKham_theoNgayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="getPhieuKham_theoNgayResult" nillable="true" type="q1:ArrayOfePhieuKham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPhieuhen">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPhieuhenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="getPhieuhenResult" nillable="true" type="q2:ArrayOfePhieuKham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPhieuhen_TrongNgay">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPhieuhen_TrongNgayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="getPhieuhen_TrongNgayResult" nillable="true" type="q3:ArrayOfePhieuKham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPhieuhen_TimKiem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="from" type="xs:dateTime" />
        <xs:element minOccurs="0" name="to" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPhieuhen_TimKiemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="getPhieuhen_TimKiemResult" nillable="true" type="q4:ArrayOfePhieuKham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPhieuKham">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="epk" nillable="true" type="q5:ePhieuKham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPhieuKhamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPhieuKhamResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePhieuKham">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="epk" nillable="true" type="q6:ePhieuKham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePhieuKhamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTinhTrang_PhieuKham">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="epk" nillable="true" type="q7:ePhieuKham" />
        <xs:element minOccurs="0" name="tinhtrangnew" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTinhTrang_PhieuKhamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTinhTrang_PhieuKhamResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPhieuKham_byID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPhieuKham_byIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="getPhieuKham_byIDResult" nillable="true" type="q8:ePhieuKham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIdLast">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getIdLastResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getIdLastResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>