UI/GUI/Connected Services/DonThuocService/Entity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfeDonThuoc">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="eDonThuoc" nillable="true" type="tns:eDonThuoc" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfeDonThuoc" nillable="true" type="tns:ArrayOfeDonThuoc" />
  <xs:complexType name="eDonThuoc">
    <xs:sequence>
      <xs:element minOccurs="0" name="idDonThuoc" type="xs:int" />
      <xs:element minOccurs="0" name="idNhaSi" type="xs:int" />
      <xs:element minOccurs="0" name="idPhieuKham" type="xs:int" />
      <xs:element minOccurs="0" name="mom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ngayLap" type="xs:dateTime" />
      <xs:element minOccurs="0" name="tinhTrang" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="eDonThuoc" nillable="true" type="tns:eDonThuoc" />
</xs:schema>