UI/GUI/Connected Services/DonThuocService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Entity" />
  <xs:element name="GetDonThuocs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDonThuocsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="GetDonThuocsResult" nillable="true" type="q1:ArrayOfeDonThuoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDonThuoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="kh" nillable="true" type="q2:eDonThuoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDonThuocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDonThuocResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDonThuoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="kh" nillable="true" type="q3:eDonThuoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDonThuocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateDonThuocResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIdLast">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getIdLastResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getIdLastResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>