UI/GUI/Connected Services/DichVuService/Entity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="eDichVuPhongKham">
    <xs:sequence>
      <xs:element minOccurs="0" name="donGia" type="xs:double" />
      <xs:element minOccurs="0" name="idDV" type="xs:int" />
      <xs:element minOccurs="0" name="tenDV" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="eDichVuPhongKham" nillable="true" type="tns:eDichVuPhongKham" />
  <xs:complexType name="ArrayOfeDichVuPhongKham">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="eDichVuPhongKham" nillable="true" type="tns:eDichVuPhongKham" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfeDichVuPhongKham" nillable="true" type="tns:ArrayOfeDichVuPhongKham" />
</xs:schema>