UI/GUI/Connected Services/NhaSiService/Entity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="eNhaSi">
    <xs:sequence>
      <xs:element minOccurs="0" name="diaChi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gioiTinh" type="xs:boolean" />
      <xs:element minOccurs="0" name="idNhaSi" type="xs:int" />
      <xs:element minOccurs="0" name="ngaySinh" type="xs:dateTime" />
      <xs:element minOccurs="0" name="passWord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="soCMND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="soDienThoai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tenNhaSi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="useName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="eNhaSi" nillable="true" type="tns:eNhaSi" />
  <xs:complexType name="ArrayOfeNhaSi">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="eNhaSi" nillable="true" type="tns:eNhaSi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfeNhaSi" nillable="true" type="tns:ArrayOfeNhaSi" />
</xs:schema>