UI/GUI/Connected Services/ChiTietDonThuocService/Entity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfeChiTietDonThuoc">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="eChiTietDonThuoc" nillable="true" type="tns:eChiTietDonThuoc" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfeChiTietDonThuoc" nillable="true" type="tns:ArrayOfeChiTietDonThuoc" />
  <xs:complexType name="eChiTietDonThuoc">
    <xs:sequence>
      <xs:element minOccurs="0" name="idDV" type="xs:int" />
      <xs:element minOccurs="0" name="idDonThuoc" type="xs:int" />
      <xs:element minOccurs="0" name="idThuoc" type="xs:int" />
      <xs:element minOccurs="0" name="soLuong" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="eChiTietDonThuoc" nillable="true" type="tns:eChiTietDonThuoc" />
</xs:schema>