UI/GUI/Connected Services/ChiTietDonThuocService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Entity" />
  <xs:element name="GetChiTietDonThuocs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChiTietDonThuocsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="GetChiTietDonThuocsResult" nillable="true" type="q1:ArrayOfeChiTietDonThuoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddChiTietDonThuoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="kh" nillable="true" type="q2:eChiTietDonThuoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddChiTietDonThuocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddChiTietDonThuocResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getChiTietDonThuocbyID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getChiTietDonThuocbyIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entity" minOccurs="0" name="getChiTietDonThuocbyIDResult" nillable="true" type="q3:ArrayOfeChiTietDonThuoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>