UI/GUI/Connected Services/ChiTietDonThuocService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ChiTietDonThuocWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IChiTietDonThuocWCF_GetChiTietDonThuocs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChiTietDonThuocs" />
  </wsdl:message>
  <wsdl:message name="IChiTietDonThuocWCF_GetChiTietDonThuocs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChiTietDonThuocsResponse" />
  </wsdl:message>
  <wsdl:message name="IChiTietDonThuocWCF_AddChiTietDonThuoc_InputMessage">
    <wsdl:part name="parameters" element="tns:AddChiTietDonThuoc" />
  </wsdl:message>
  <wsdl:message name="IChiTietDonThuocWCF_AddChiTietDonThuoc_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddChiTietDonThuocResponse" />
  </wsdl:message>
  <wsdl:message name="IChiTietDonThuocWCF_getChiTietDonThuocbyID_InputMessage">
    <wsdl:part name="parameters" element="tns:getChiTietDonThuocbyID" />
  </wsdl:message>
  <wsdl:message name="IChiTietDonThuocWCF_getChiTietDonThuocbyID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getChiTietDonThuocbyIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IChiTietDonThuocWCF">
    <wsdl:operation name="GetChiTietDonThuocs">
      <wsdl:input wsaw:Action="http://tempuri.org/IChiTietDonThuocWCF/GetChiTietDonThuocs" message="tns:IChiTietDonThuocWCF_GetChiTietDonThuocs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChiTietDonThuocWCF/GetChiTietDonThuocsResponse" message="tns:IChiTietDonThuocWCF_GetChiTietDonThuocs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddChiTietDonThuoc">
      <wsdl:input wsaw:Action="http://tempuri.org/IChiTietDonThuocWCF/AddChiTietDonThuoc" message="tns:IChiTietDonThuocWCF_AddChiTietDonThuoc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChiTietDonThuocWCF/AddChiTietDonThuocResponse" message="tns:IChiTietDonThuocWCF_AddChiTietDonThuoc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getChiTietDonThuocbyID">
      <wsdl:input wsaw:Action="http://tempuri.org/IChiTietDonThuocWCF/getChiTietDonThuocbyID" message="tns:IChiTietDonThuocWCF_getChiTietDonThuocbyID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChiTietDonThuocWCF/getChiTietDonThuocbyIDResponse" message="tns:IChiTietDonThuocWCF_getChiTietDonThuocbyID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IChiTietDonThuocWCF" type="tns:IChiTietDonThuocWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetChiTietDonThuocs">
      <soap:operation soapAction="http://tempuri.org/IChiTietDonThuocWCF/GetChiTietDonThuocs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddChiTietDonThuoc">
      <soap:operation soapAction="http://tempuri.org/IChiTietDonThuocWCF/AddChiTietDonThuoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getChiTietDonThuocbyID">
      <soap:operation soapAction="http://tempuri.org/IChiTietDonThuocWCF/getChiTietDonThuocbyID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ChiTietDonThuocWCF">
    <wsdl:port name="BasicHttpBinding_IChiTietDonThuocWCF" binding="tns:BasicHttpBinding_IChiTietDonThuocWCF">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/QuanLyPhongNha_Wcf/ChiTietDonThuocWCF/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>